body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: 0 ;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 25px;
}

nav {
    display: flex;
    align-items: center;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}